// tremblement
@mixin tremblement {
  animation: headshake 100ms ease-in-out;
  animation-iteration-count: 20;
  @keyframes headshake {
    25% {
      transform: translateX($shake-intensity);
    }
    75% {
      transform: translateX($shake-intensity);
    }
  }
}

//les points de suspensions
@mixin pointSuspension {
  animation: points 1000ms ease-in;
  @keyframes points {
    25% {
      content: ". ";
    }

    50% {
      content: ". ";
    }

    75% {
      content: ". ";
    }
  }
}
