// tremblement
@mixin tremblement {
  animation: headshake 80ms ease-in-out;
  animation-iteration-count: 20;
  @keyframes headshake {
    0% {
      transform: translateX($shake-intensity);
      transform: rotate($rotate);
    }
    100% {
      transform: translateX(-$shake-intensity);
      transform: rotate(-$rotate);
    }
  }
}

@mixin text-menu-zoom {
  &:hover {
    transform: scale(1.1);
  }
}

//les points de suspensions animations

@mixin anime-pointille {
  .btn-span {
    animation: pointille 1.7s ease-in-out infinite both;
    opacity: 1;
    font-size: 2rem;
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  }
}

@keyframes pointille {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


//animation souslignement titre
@mixin souslignement{
  background : linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, 
    transparent 5px) no-repeat;
    background-size: 0 100%; /* largeur hauteur */
    transition: background-size 0.8s;
    padding-bottom: 0px;
}