@mixin dimensions-menus {
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 10px -3px black; //x, y , effet de flou, portée du blur
}

@mixin titre-menu-accueil{
  
  h2{    
    text-align: center;
    font-size: 2rem;
  }

  h3{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
  }
    
}
@mixin note-de-musique ($d, $f){
  background-image: linear-gradient($d, $f);
      -webkit-background-clip: text; //support partiel
      -webkit-text-fill-color: transparent; //support partiel
}

@mixin couleur-titre-menu ($deg, $d, $f){
  background-image: linear-gradient($deg, $d, $f);
      -webkit-background-clip: text; //support partiel
      -webkit-text-fill-color: transparent; //support partiel
}

@mixin couleur-menu-menu ($d, $f){
  background-image: linear-gradient($d, $f);
      -webkit-background-clip: text; //support partiel
      -webkit-text-fill-color: transparent; //support partiel
}

@mixin smartphone-grid{
  @media only screen and (max-width: $smartphone){
  grid-template-columns: 100%;
  grid-template-rows: 23rem 22rem 23rem 23rem 10rem; //22rem 350px
  grid-template-areas:
    "menu1"
    "menu2"
    "menu3"
    "menu4"
    "prochainement" 
    "prochainement";
  gap: 5px;

  justify-items: center;
  align-items: start;
  // display: block;
}
  }
  
@mixin smarphone-cell{
  @media only screen and (max-width: $smartphone){
  justify-self: center;
  align-self: center;
}
}
@mixin smarphone-cell-prochainement{
  @media only screen and (max-width: $smartphone){
  justify-self: center;
  align-self: start;
}
}
  




