$smartphone: 750px;
//color title
$header-color-h1: orange;

//color background
$color-bg-header-footer:#579C87;
$color-bg-menu-1: #FCDFDB;
$color-bg-menu-2: #FFF5FE;
$color-bg-menu-3: #EBEBEB;
$color-bg-menu-4: #F9F9F9;

$footer-h: 75px;//80px

$shake-intensity: 5%; //pour le translate
$rotate: 3deg; //pour la rotation + ou - x degrée