@import "variables";
@import "button.scss";
@import "mixins.scss";
@import "media.scss";
@import "functions.scss";
@import "./effets";
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Kaushan+Script&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  position: relative;
  background: whitesmoke;
}

.container_general {
  // display: flex;   //test pour le problème de dézoom
  // height: 100vh;
  // flex-direction: row;
  // justify-content: center;
  // align-content: space-between;
  // flex-wrap: wrap ;  
 
  
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-header-footer;
  width: 100vw;
  height: 90px;
  & h1 {
    color: $header-color-h1;
    font-size: 4rem;
  }
}

.grid_menu {
  display: grid;  
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 23rem 22rem 50px $footer-h; //22rem 350px
  grid-template-areas:
    "menu1 menu2"
    "menu3 menu4"
    "prochainement prochainement"
    ;
  gap: 20px;
  justify-items: center;
  align-items: center;

 @include smartphone-grid;  
}

.postion-grille-menu-1{
  justify-self: end;
   align-self: end;
   @include smarphone-cell;
}

.postion-grille-menu-2{
  justify-self: start;
   align-self: end;
   @include smarphone-cell;
}

.postion-grille-menu-3{
  justify-self: end;
   align-self: end;
   @include smarphone-cell;
}

.postion-grille-menu-4{
  justify-self: start;
   align-self: start;
   @include smarphone-cell;
}

.postion-grille-menu-prochainement{
  
  
  
  // @include smarphone-cell-prochainement;
}


.text-menu-zoom{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  transform: scale(1); 
  transition-property: transform;//modif ok
  transition-duration: 1s;//modif ok
  @include text-menu-zoom;
}
.menu {  
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;  
}
  
 .menu1 {
    // justify-self: end;
    // align-self: end;
    
    .svg{
      @include note-de-musique (#3D1319, #3D1319);
      padding-bottom: 25px;
      text-align: center;
    }
    grid-area: menu1;
    background: $color-bg-menu-1;
    @include dimensions-menus;
    @include titre-menu-accueil;
    
    & h2 {
      font-family: "Satisfy", cursive;
      @include couleur-titre-menu(45deg, #3D1319, #3D1319);
      
    }
    & h3{
      font-family: "Satisfy", cursive;
      @include couleur-menu-menu(#3D1319, #3D1319);
    }    
  }

  .menu2 {    
    grid-area: menu2;
    background: $color-bg-menu-2;
    @include dimensions-menus;
    @include titre-menu-accueil;
    overflow: hidden;
    justify-self: start;
    align-self: end;
    & h2 {
      font-family: "DM Serif Display", serif;
      @include couleur-titre-menu(160deg,#E0881D 5%, #8F5AFF 80%);
    }
    & h3{
      font-family: "DM Serif Display", serif;
      @include couleur-menu-menu(#C77412, #C77412);
    }
  }

  .menu3 {
    grid-area: menu3;
    @include dimensions-menus;
    @include titre-menu-accueil;
    background: $color-bg-menu-3;
    overflow: hidden;
    justify-self: end;
    align-self: start;    
    & h2{
      font-family: "Bad Script", cursive;
      @include couleur-titre-menu(160deg, #0023DB, #0889FB 50%);
    }
    & h3{
      font-family: "Bad Script", cursive;
      @include couleur-menu-menu(#0887FB , #0887FB );
    }
  }

  .menu4 {
    grid-area: menu4;
    background: $color-bg-menu-4;
    @include dimensions-menus;
    @include titre-menu-accueil;
    overflow: hidden;
    justify-self: start;
    align-self: start;
    &  h2 {
      font-family: "Kaushan Script", cursive;
      @include couleur-titre-menu(45deg, #3E923A, #BEFF7F 75%);
    }
    & h3{
      font-family: "Kaushan Script", cursive;
      @include couleur-menu-menu(#72BF56, #72BF56);
    }
  }



.prochainement {  
  grid-area: prochainement; 
  
  @include btn-prochainement;
  @include anime-pointille;

}

footer {
  a:link{
    color:orange;
  }
  
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-bg-header-footer;
  width: 100vw;
  height: 80px;
  & h3 {    
    color: $header-color-h1;
    &:hover{
      cursor: pointer;
      @include tremblement;
  }
  }
}
  
