@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Kaushan+Script&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  background-color: yellow; //coucou
  font-size: 1rem;
}
h1{
  font-family: "Satisfy", cursive;
}
h3{
font-family: "Satisfy", cursive;
}
p{
  font-family: "Satisfy", cursive;
  font-weight: 400;
}

.flex-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}