@import "variables";
@import "button.scss";
@import "mixins.scss";
@import "media.scss";
@import "functions.scss";
@import "./effets";
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Kaushan+Script&family=Satisfy&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


body {
  
  position: relative;
  background: whitesmoke;
}

.container_general {
 width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-header-footer;
  width: 100vw;
  height: 90px;
  & h1 {
    color: $header-color-h1;
    font-size: 4rem;
  }
}

.grid_menu {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 23rem 22rem 50px $footer-h; //22rem 350px
  grid-template-areas:
    "menu1 menu2"
    "menu3 menu4"
    "prochainement prochainement";
  gap: 20px;
  justify-items: center;
  align-items: center;

  @include smartphone-grid;
}

.postion-grille-menu-1 {
  justify-self: end;
  align-self: end;
  @include smarphone-cell;
}

.postion-grille-menu-2 {
  justify-self: start;
  align-self: end;
  @include smarphone-cell;
}

.postion-grille-menu-3 {
  justify-self: end;
  align-self: end;
  @include smarphone-cell;
}

.postion-grille-menu-4 {
  justify-self: start;
  align-self: start;
  @include smarphone-cell;
}

.postion-grille-menu-prochainement {
  // @include smarphone-cell-prochainement;
}

.text-menu-zoom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  transform: scale(1);
  transition-property: transform; //modif ok
  transition-duration: 1s; //modif ok
  @include text-menu-zoom;
}


.menu1 {  
  & img{
    height: 130px;
  }
  grid-area: menu1;
  background: $color-bg-menu-1;
  @include dimensions-menus;
  @include titre-menu-accueil;

  & h2 {
    font-family: "Satisfy", cursive;
    @include couleur-titre-menu(45deg, #3d1319, #3d1319);
  }
  & h3 {
    font-family: "Satisfy", cursive;
    @include couleur-menu-menu(#3d1319, #3d1319);
  }
}

.menu2 {
  grid-area: menu2;
  background: $color-bg-menu-2;
  @include dimensions-menus;
  @include titre-menu-accueil;
  overflow: hidden;
  justify-self: start;
  align-self: end;
  & h2 {
    font-family: "DM Serif Display", serif;
    @include couleur-titre-menu(160deg, #e0881d 5%, #8f5aff 80%);
  }
  & h3 {
    font-family: "DM Serif Display", serif;
    @include couleur-menu-menu(#c77412, #c77412);
  }
}

.menu3 {
  grid-area: menu3;
  @include dimensions-menus;
  @include titre-menu-accueil;
  background: $color-bg-menu-3;
  overflow: hidden;
  justify-self: end;
  align-self: start;
  & h2 {
    font-family: "Bad Script", cursive;
    @include couleur-titre-menu(160deg, #0023db, #0889fb 50%);
  }
  & h3 {
    font-family: "Bad Script", cursive;
    @include couleur-menu-menu(#0887fb, #0887fb);
  }
}

.menu4 {
  grid-area: menu4;
  background: $color-bg-menu-4;
  @include dimensions-menus;
  @include titre-menu-accueil;
  overflow: hidden;
  justify-self: start;
  align-self: start;
  & h2 {
    font-family: "Kaushan Script", cursive;
    @include couleur-titre-menu(45deg, #3e923a, #beff7f 75%);
  }
  & h3 {
    font-family: "Kaushan Script", cursive;
    @include couleur-menu-menu(#72bf56, #72bf56);
  }
}

.prochainement {
  grid-area: prochainement;
  @include btn-prochainement;
  @include anime-pointille;
}

// interieur du menu 1 la note enchantée avec les produits et les prix
.flex-container-menu {
  display: flex;
  background:white;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menus-marge{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include smartphone-menu1;   
}

.trait-menu-miseenpage{
  width: 100%;  
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img{
    min-width: 25%;
  }  
  }  

.center-note-menu1{
  width: 100%;
  display: block;
  text-align: center;
  & img{
    width: 130px;
  }
}

.menus-1 {  
  background: $color-bg-menu-1;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  @include tablette-menu1;
  & h2 {
    font-family: "Satisfy", cursive;
    font-size: 3.8rem;
    text-align: center;
    flex-basis: 100%;
  }
  & h3 {
    font-family: "Satisfy", cursive;
    font-size: 2.3rem;
    flex-basis: 100%;
    text-align: center;    
  }
  & a{  
    color: black;  
    background : linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, 
    transparent 5px) no-repeat;
    background-size: 0 100%; /* largeur hauteur */
    transition: background-size 0.8s;
    padding-bottom: 0px;
  }

  & a:hover{
    background-size: 100% 100%;
  } 
  & a:visited{
    color: black;
  } 
  
  & .produit-prix {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    & p {
      &:nth-child(1) { /* nom du produit */
        text-align: left;
        font-family: "Satisfy", cursive;
        font-size: 1.5rem;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      &:nth-child(2) { /* prix du  produit */
        text-align: right;
        font-family: "Satisfy", cursive;
        font-size: 1.5rem;
        padding-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        // align-self: center;
      }
    }
  }
}

.noteMusiqueBasPage{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & img{
    width: 50px;
  }
  & p{
    color:black;
    font-family: "Satisfy", cursive;
    font-size: 2rem;
    margin-left: 2rem;
    

  }
}

.position-btn-retour{
  margin-bottom: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.retour{
  @include  btn-retour;
  & a{
    color: $header-color-h1;
  }
  & a:visited{
    color: $header-color-h1;
  }  
}

//fin de la page MENU 1

//Intérieur du MENU 2 - Le chic à la française
.flex-container-menu {
  display: flex;
  background:white;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menus-marge{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include smartphone-menu1;   
}

.trait-menu-miseenpage{
  width: 100%;  
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img{
    min-width: 25%;
  }  
  }  

.center-note-menu1{
  width: 100%;
  display: block;
  text-align: center;
}



.menus-2 {  
  background: #FFF5FE;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  @include tablette-menu1;
  & h2 {
    font-family: "Satisfy", cursive;
    font-size: 3.8rem;
    text-align: center;
    flex-basis: 100%;
    @include couleur-titre-menu(160deg, #e0881d 5%, #8f5aff 80%);
    @include smartphone-menu-h2;
  }
  & h3 {
    font-family: "Satisfy", cursive;
    font-size: 2.3rem;
    flex-basis: 100%;
    text-align: center;
    @include smartphone-menu-h3;      
    }
  
  & .titre-couleur-1 {  
    color: #C67412;  
    // background : linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, 
    // transparent 5px) no-repeat;
    // background-size: 0 100%; /* largeur hauteur */
    // transition: background-size 0.8s;
    // padding-bottom: 0px;
    @include souslignement;
  }

  & .titre-couleur-2 {  
    color:#A56799; 
    @include souslignement;
  }

  & .titre-couleur-3 {  
    color: #6E4CCC; 
    @include souslignement;
  }

  & a:hover{
    background-size: 100% 100%;
  } 
  & .titre-couleur-1:visited{
    color: #C67412;
  } 

  & .titre-couleur-2:visited{
    color:#A56799;
  } 

  & .titre-couleur-3:visited{
    color: #6E4CCC;
  } 
  
  & .produit-prix-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:#C67412;        
    @include mise-en-page-text-ds-menu;
  }

  & .produit-prix-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:#A56799;        
    @include mise-en-page-text-ds-menu;
  }

  & .produit-prix-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:#6E4CCC;        
    @include mise-en-page-text-ds-menu;
  }
}

#titre-contenu-repas-debut{
  color: red;
}  

.position-btn-retour{
  margin-bottom: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.retour{
  @include  btn-retour;
  & a{
    color: $header-color-h1;
  }
  & a:visited{
    color: $header-color-h1;
  }  
}

//Fin de la page MENU 2



//Intérieur du MENU 3 - Le délice des papilles
.flex-container-menu {
  display: flex;
  background:white;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menus-marge{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include smartphone-menu1;   
}

.trait-menu-miseenpage{
  width: 100%;  
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img{
    min-width: 25%;
  }  
  }  


.menus-3 {  
  background: #EBEBEB;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  @include tablette-menu1;
  & h2 {
    font-family: "Bad Script", cursive;
    font-size: 3.8rem;
    text-align: center;
    flex-basis: 100%;
    @include couleur-titre-menu(160deg, #000000 5%, #000000 80%);
    @include smartphone-menu-h2;
  }
  & h3 {
    font-family: "Bad Script", cursive;
    font-size: 2.3rem;
    flex-basis: 100%;
    text-align: center;
    @include  smartphone-menu-h3 ;     
    }
  
  & .titre-couleur-1 {  
    color: #000000;  
    // background : linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, 
    // transparent 5px) no-repeat;
    // background-size: 0 100%; /* largeur hauteur */
    // transition: background-size 0.8s;
    // padding-bottom: 0px;
    @include souslignement;
  }

  & .titre-couleur-2 {  
    color:#000000; 
    @include souslignement;
  }

  & .titre-couleur-3 {  
    color: #000000; 
    @include souslignement;
  }

  & a:hover{
    background-size: 100% 100%;
  } 
  & .titre-couleur-1:visited{
    color: #000000;
  } 

  & .titre-couleur-2:visited{
    color:#000000;
  } 

  & .titre-couleur-3:visited{
    color: #000000;
  } 
  
  & .produit-prix-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:#000000;        
    @include mise-en-page-text-ds-menu;
  }

  & .produit-prix-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:#000000;        
    @include mise-en-page-text-ds-menu;
  }

  & .produit-prix-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:#000000;        
    @include mise-en-page-text-ds-menu;
  }
}

#titre-contenu-repas-debut{
  color: red;
}  

.position-btn-retour{
  margin-bottom: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.retour{
  @include  btn-retour;
  & a{
    color: $header-color-h1;
  }
  & a:visited{
    color: $header-color-h1;
  }  
}

//Fin de la page MENU 3


//Intérieur du MENU 4 - La palette du gout
.flex-container-menu {
  display: flex;
  background:white;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menus-marge{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include smartphone-menu1;   
}

.trait-menu-miseenpage{
  width: 100%;  
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img{
    min-width: 25%;
  }  
  }  


.menus-4 {  
  background: #FDFFFD;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  @include tablette-menu1;
  & h2 {
    font-family: "Kaushan Script", cursive;
    font-size: 3.8rem;
    text-align: center;
    flex-basis: 100%;
    @include couleur-titre-menu(160deg, #3e923a 5%, #beff7f 80%);
  }
  & h3 {
    font-family: "Kaushan Script", cursive;
    font-size: 2.3rem;
    flex-basis: 100%;
    text-align: center;
           
    }
  
  & .titre-couleur-1 {  
    color: #000000;  
    // background : linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, 
    // transparent 5px) no-repeat;
    // background-size: 0 100%; /* largeur hauteur */
    // transition: background-size 0.8s;
    // padding-bottom: 0px;
    @include souslignement;
  }

  & .titre-couleur-2 {  
    color:#000000; 
    @include souslignement;
  }

  & .titre-couleur-3 {  
    color: #000000; 
    @include souslignement;
  }

  & a:hover{
    background-size: 100% 100%;
  } 
  & .titre-couleur-1:visited{
    color: #000000;
  } 

  & .titre-couleur-2:visited{
    color:#000000;
  } 

  & .titre-couleur-3:visited{
    color: #000000;
  } 
  
  & .produit-prix-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:#000000;        
    @include mise-en-page-text-ds-menu;
  }

  & .produit-prix-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:#000000;        
    @include mise-en-page-text-ds-menu;
  }

  & .produit-prix-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:#000000;        
    @include mise-en-page-text-ds-menu;
  }
}

#titre-contenu-repas-debut{
  color: red;
}  

.position-btn-retour{
  margin-bottom: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.retour{
  @include  btn-retour;
  & a{
    color: $header-color-h1;
  }
  & a:visited{
    color: $header-color-h1;
  }  
}

//Fin de la page MENU 4




footer {
  a:link {
    color: $header-color-h1;
  }

  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-bg-header-footer;
  width: 100vw;
  height: 80px;
  & h3 {
    color: $header-color-h1;
    &:hover {
      cursor: pointer;
      @include tremblement;
    }
  }
}
