@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Kaushan+Script&family=Satisfy&display=swap");
.prochainement {
  border: 0;
  border-radius: 15px;
  padding: 1rem 2rem;
  min-width: 200px;
  background: #579C87;
  color: orange;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

@keyframes pointille {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  position: relative;
  background: whitesmoke;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579C87;
  width: 100vw;
  height: 90px;
}
header h1 {
  color: orange;
  font-size: 4rem;
}

.grid_menu {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 23rem 22rem 50px 75px;
  grid-template-areas: "menu1 menu2" "menu3 menu4" "prochainement prochainement";
  gap: 20px;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 750px) {
  .grid_menu {
    grid-template-columns: 100%;
    grid-template-rows: 23rem 22rem 23rem 23rem 10rem;
    grid-template-areas: "menu1" "menu2" "menu3" "menu4" "prochainement" "prochainement";
    gap: 5px;
    justify-items: center;
    align-items: start;
  }
}

.postion-grille-menu-1 {
  justify-self: end;
  align-self: end;
}
@media only screen and (max-width: 750px) {
  .postion-grille-menu-1 {
    justify-self: center;
    align-self: center;
  }
}

.postion-grille-menu-2 {
  justify-self: start;
  align-self: end;
}
@media only screen and (max-width: 750px) {
  .postion-grille-menu-2 {
    justify-self: center;
    align-self: center;
  }
}

.postion-grille-menu-3 {
  justify-self: end;
  align-self: end;
}
@media only screen and (max-width: 750px) {
  .postion-grille-menu-3 {
    justify-self: center;
    align-self: center;
  }
}

.postion-grille-menu-4 {
  justify-self: start;
  align-self: start;
}
@media only screen and (max-width: 750px) {
  .postion-grille-menu-4 {
    justify-self: center;
    align-self: center;
  }
}

.text-menu-zoom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1s;
}
.text-menu-zoom:hover {
  transform: scale(1.1);
}

.menu1 {
  grid-area: menu1;
  background: #FCDFDB;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 10px -3px black;
}
.menu1 .svg {
  background-image: linear-gradient(#3D1319, #3D1319);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 25px;
  text-align: center;
}
.menu1 h2 {
  text-align: center;
  font-size: 2rem;
}
.menu1 h3 {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.menu1 h2 {
  font-family: "Satisfy", cursive;
  background-image: linear-gradient(45deg, #3D1319, #3D1319);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu1 h3 {
  font-family: "Satisfy", cursive;
  background-image: linear-gradient(#3D1319, #3D1319);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu2 {
  grid-area: menu2;
  background: #FFF5FE;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 10px -3px black;
  overflow: hidden;
  justify-self: start;
  align-self: end;
}
.menu2 h2 {
  text-align: center;
  font-size: 2rem;
}
.menu2 h3 {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.menu2 h2 {
  font-family: "DM Serif Display", serif;
  background-image: linear-gradient(160deg, #E0881D 5%, #8F5AFF 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu2 h3 {
  font-family: "DM Serif Display", serif;
  background-image: linear-gradient(#C77412, #C77412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3 {
  grid-area: menu3;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 10px -3px black;
  background: #EBEBEB;
  overflow: hidden;
  justify-self: end;
  align-self: start;
}
.menu3 h2 {
  text-align: center;
  font-size: 2rem;
}
.menu3 h3 {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.menu3 h2 {
  font-family: "Bad Script", cursive;
  background-image: linear-gradient(160deg, #0023DB, #0889FB 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu3 h3 {
  font-family: "Bad Script", cursive;
  background-image: linear-gradient(#0887FB, #0887FB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu4 {
  grid-area: menu4;
  background: #F9F9F9;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 10px -3px black;
  overflow: hidden;
  justify-self: start;
  align-self: start;
}
.menu4 h2 {
  text-align: center;
  font-size: 2rem;
}
.menu4 h3 {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.menu4 h2 {
  font-family: "Kaushan Script", cursive;
  background-image: linear-gradient(45deg, #3E923A, #BEFF7F 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu4 h3 {
  font-family: "Kaushan Script", cursive;
  background-image: linear-gradient(#72BF56, #72BF56);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prochainement {
  grid-area: prochainement;
}
.prochainement .btn-span {
  animation: pointille 1.7s ease-in-out infinite both;
  opacity: 1;
  font-size: 2rem;
}
.prochainement .btn-span:nth-child(2) {
  animation-delay: 0.2s;
}
.prochainement .btn-span:nth-child(3) {
  animation-delay: 0.2s;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #579C87;
  width: 100vw;
  height: 80px;
}
footer a:link {
  color: orange;
}
footer h3 {
  color: orange;
}
footer h3:hover {
  cursor: pointer;
  animation: headshake 80ms ease-in-out;
  animation-iteration-count: 20;
}
@keyframes headshake {
  0% {
    transform: translateX(5%);
    transform: rotate(3deg);
  }
  100% {
    transform: translateX(-5%);
    transform: rotate(-3deg);
  }
}

/*# sourceMappingURL=style.css.map */
