@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Kaushan+Script&family=Satisfy&display=swap");
.retour, .prochainement {
  border: 0;
  border-radius: 15px;
  padding: 1rem 2rem;
  min-width: 200px;
  background: #579C87;
  color: orange;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

@keyframes pointille {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
* a {
  color: orange;
}
* a:visited {
  color: orange;
}
* a:active {
  color: orange;
}

body {
  position: relative;
  background: whitesmoke;
}

.container_general {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579C87;
  width: 100vw;
  height: 90px;
}
header h1 {
  color: orange;
  font-size: 4rem;
}

.grid_menu {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 23rem 22rem 50px 75px;
  grid-template-areas: "menu1 menu2" "menu3 menu4" "prochainement prochainement";
  gap: 20px;
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 750px) {
  .grid_menu {
    grid-template-columns: 100%;
    grid-template-rows: 23rem 22rem 23rem 23rem 10rem;
    grid-template-areas: "menu1" "menu2" "menu3" "menu4" "prochainement" "prochainement";
    gap: 5px;
    justify-items: center;
    align-items: start;
  }
}

.postion-grille-menu-1 {
  justify-self: end;
  align-self: end;
}
@media only screen and (max-width: 750px) {
  .postion-grille-menu-1 {
    justify-self: center;
    align-self: center;
  }
}

.postion-grille-menu-2 {
  justify-self: start;
  align-self: end;
}
@media only screen and (max-width: 750px) {
  .postion-grille-menu-2 {
    justify-self: center;
    align-self: center;
  }
}

.postion-grille-menu-3 {
  justify-self: end;
  align-self: end;
}
@media only screen and (max-width: 750px) {
  .postion-grille-menu-3 {
    justify-self: center;
    align-self: center;
  }
}

.postion-grille-menu-4 {
  justify-self: start;
  align-self: start;
}
@media only screen and (max-width: 750px) {
  .postion-grille-menu-4 {
    justify-self: center;
    align-self: center;
  }
}

.text-menu-zoom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1s;
}
.text-menu-zoom:hover {
  transform: scale(1.1);
}

.menu1 {
  grid-area: menu1;
  background: #FCDFDB;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 10px -3px black;
}
.menu1 img {
  height: 130px;
}
.menu1 h2 {
  text-align: center;
  font-size: 2rem;
}
.menu1 h3 {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.menu1 h2 {
  font-family: "Satisfy", cursive;
  background-image: linear-gradient(45deg, #3d1319, #3d1319);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu1 h3 {
  font-family: "Satisfy", cursive;
  background-image: linear-gradient(#3d1319, #3d1319);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu2 {
  grid-area: menu2;
  background: #FFF5FE;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 10px -3px black;
  overflow: hidden;
  justify-self: start;
  align-self: end;
}
.menu2 h2 {
  text-align: center;
  font-size: 2rem;
}
.menu2 h3 {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.menu2 h2 {
  font-family: "DM Serif Display", serif;
  background-image: linear-gradient(160deg, #e0881d 5%, #8f5aff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu2 h3 {
  font-family: "DM Serif Display", serif;
  background-image: linear-gradient(#c77412, #c77412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3 {
  grid-area: menu3;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 10px -3px black;
  background: #EBEBEB;
  overflow: hidden;
  justify-self: end;
  align-self: start;
}
.menu3 h2 {
  text-align: center;
  font-size: 2rem;
}
.menu3 h3 {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.menu3 h2 {
  font-family: "Bad Script", cursive;
  background-image: linear-gradient(160deg, #0023db, #0889fb 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu3 h3 {
  font-family: "Bad Script", cursive;
  background-image: linear-gradient(#0887fb, #0887fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu4 {
  grid-area: menu4;
  background: #F9F9F9;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 10px -3px black;
  overflow: hidden;
  justify-self: start;
  align-self: start;
}
.menu4 h2 {
  text-align: center;
  font-size: 2rem;
}
.menu4 h3 {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.menu4 h2 {
  font-family: "Kaushan Script", cursive;
  background-image: linear-gradient(45deg, #3e923a, #beff7f 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu4 h3 {
  font-family: "Kaushan Script", cursive;
  background-image: linear-gradient(#72bf56, #72bf56);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prochainement {
  grid-area: prochainement;
}
.prochainement .btn-span {
  animation: pointille 1.7s ease-in-out infinite both;
  opacity: 1;
  font-size: 2rem;
}
.prochainement .btn-span:nth-child(2) {
  animation-delay: 0.2s;
}
.prochainement .btn-span:nth-child(3) {
  animation-delay: 0.2s;
}

.flex-container-menu {
  display: flex;
  background: white;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menus-marge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 750px) {
  .menus-marge {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.trait-menu-miseenpage {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trait-menu-miseenpage img {
  min-width: 25%;
}

.center-note-menu1 {
  width: 100%;
  display: block;
  text-align: center;
}
.center-note-menu1 img {
  width: 130px;
}

.menus-1 {
  background: #FCDFDB;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
}
@media only screen and (max-width: 877px) {
  .menus-1 {
    width: 100%;
  }
}
.menus-1 h2 {
  font-family: "Satisfy", cursive;
  font-size: 3.8rem;
  text-align: center;
  flex-basis: 100%;
}
.menus-1 h3 {
  font-family: "Satisfy", cursive;
  font-size: 2.3rem;
  flex-basis: 100%;
  text-align: center;
}
.menus-1 a {
  color: black;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  /* largeur hauteur */
  transition: background-size 0.8s;
  padding-bottom: 0px;
}
.menus-1 a:hover {
  background-size: 100% 100%;
}
.menus-1 a:visited {
  color: black;
}
.menus-1 .produit-prix {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menus-1 .produit-prix p:nth-child(1) {
  /* nom du produit */
  text-align: left;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-1 .produit-prix p:nth-child(2) {
  /* prix du  produit */
  text-align: right;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.noteMusiqueBasPage {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noteMusiqueBasPage img {
  width: 50px;
}
.noteMusiqueBasPage p {
  color: black;
  font-family: "Satisfy", cursive;
  font-size: 2rem;
  margin-left: 2rem;
}

.position-btn-retour {
  margin-bottom: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.retour a {
  color: orange;
}
.retour a:visited {
  color: orange;
}

.flex-container-menu {
  display: flex;
  background: white;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menus-marge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 750px) {
  .menus-marge {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.trait-menu-miseenpage {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trait-menu-miseenpage img {
  min-width: 25%;
}

.center-note-menu1 {
  width: 100%;
  display: block;
  text-align: center;
}

.menus-2 {
  background: #FFF5FE;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
}
@media only screen and (max-width: 877px) {
  .menus-2 {
    width: 100%;
  }
}
.menus-2 h2 {
  font-family: "Satisfy", cursive;
  font-size: 3.8rem;
  text-align: center;
  flex-basis: 100%;
  background-image: linear-gradient(160deg, #e0881d 5%, #8f5aff 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}
.menus-2 h3 {
  font-family: "Satisfy", cursive;
  font-size: 2.3rem;
  flex-basis: 100%;
  text-align: center;
  font-size: 1.6rem;
}
.menus-2 .titre-couleur-1 {
  color: #C67412;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  /* largeur hauteur */
  transition: background-size 0.8s;
  padding-bottom: 0px;
}
.menus-2 .titre-couleur-2 {
  color: #A56799;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  /* largeur hauteur */
  transition: background-size 0.8s;
  padding-bottom: 0px;
}
.menus-2 .titre-couleur-3 {
  color: #6E4CCC;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  /* largeur hauteur */
  transition: background-size 0.8s;
  padding-bottom: 0px;
}
.menus-2 a:hover {
  background-size: 100% 100%;
}
.menus-2 .titre-couleur-1:visited {
  color: #C67412;
}
.menus-2 .titre-couleur-2:visited {
  color: #A56799;
}
.menus-2 .titre-couleur-3:visited {
  color: #6E4CCC;
}
.menus-2 .produit-prix-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #C67412;
}
.menus-2 .produit-prix-1 p:nth-child(1) {
  /* nom du produit */
  text-align: left;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-2 .produit-prix-1 p:nth-child(2) {
  /* prix du  produit */
  text-align: right;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-2 .produit-prix-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #A56799;
}
.menus-2 .produit-prix-2 p:nth-child(1) {
  /* nom du produit */
  text-align: left;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-2 .produit-prix-2 p:nth-child(2) {
  /* prix du  produit */
  text-align: right;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-2 .produit-prix-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #6E4CCC;
}
.menus-2 .produit-prix-3 p:nth-child(1) {
  /* nom du produit */
  text-align: left;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-2 .produit-prix-3 p:nth-child(2) {
  /* prix du  produit */
  text-align: right;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#titre-contenu-repas-debut {
  color: red;
}

.position-btn-retour {
  margin-bottom: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.retour a {
  color: orange;
}
.retour a:visited {
  color: orange;
}

.flex-container-menu {
  display: flex;
  background: white;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menus-marge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 750px) {
  .menus-marge {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.trait-menu-miseenpage {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trait-menu-miseenpage img {
  min-width: 25%;
}

.menus-3 {
  background: #EBEBEB;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
}
@media only screen and (max-width: 877px) {
  .menus-3 {
    width: 100%;
  }
}
.menus-3 h2 {
  font-family: "Bad Script", cursive;
  font-size: 3.8rem;
  text-align: center;
  flex-basis: 100%;
  background-image: linear-gradient(160deg, #000000 5%, #000000 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
}
.menus-3 h3 {
  font-family: "Bad Script", cursive;
  font-size: 2.3rem;
  flex-basis: 100%;
  text-align: center;
  font-size: 1.6rem;
}
.menus-3 .titre-couleur-1 {
  color: #000000;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  /* largeur hauteur */
  transition: background-size 0.8s;
  padding-bottom: 0px;
}
.menus-3 .titre-couleur-2 {
  color: #000000;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  /* largeur hauteur */
  transition: background-size 0.8s;
  padding-bottom: 0px;
}
.menus-3 .titre-couleur-3 {
  color: #000000;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  /* largeur hauteur */
  transition: background-size 0.8s;
  padding-bottom: 0px;
}
.menus-3 a:hover {
  background-size: 100% 100%;
}
.menus-3 .titre-couleur-1:visited {
  color: #000000;
}
.menus-3 .titre-couleur-2:visited {
  color: #000000;
}
.menus-3 .titre-couleur-3:visited {
  color: #000000;
}
.menus-3 .produit-prix-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #000000;
}
.menus-3 .produit-prix-1 p:nth-child(1) {
  /* nom du produit */
  text-align: left;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-3 .produit-prix-1 p:nth-child(2) {
  /* prix du  produit */
  text-align: right;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-3 .produit-prix-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #000000;
}
.menus-3 .produit-prix-2 p:nth-child(1) {
  /* nom du produit */
  text-align: left;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-3 .produit-prix-2 p:nth-child(2) {
  /* prix du  produit */
  text-align: right;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-3 .produit-prix-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #000000;
}
.menus-3 .produit-prix-3 p:nth-child(1) {
  /* nom du produit */
  text-align: left;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-3 .produit-prix-3 p:nth-child(2) {
  /* prix du  produit */
  text-align: right;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#titre-contenu-repas-debut {
  color: red;
}

.position-btn-retour {
  margin-bottom: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.retour a {
  color: orange;
}
.retour a:visited {
  color: orange;
}

.flex-container-menu {
  display: flex;
  background: white;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menus-marge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 750px) {
  .menus-marge {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.trait-menu-miseenpage {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trait-menu-miseenpage img {
  min-width: 25%;
}

.menus-4 {
  background: #FDFFFD;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
}
@media only screen and (max-width: 877px) {
  .menus-4 {
    width: 100%;
  }
}
.menus-4 h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 3.8rem;
  text-align: center;
  flex-basis: 100%;
  background-image: linear-gradient(160deg, #3e923a 5%, #beff7f 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus-4 h3 {
  font-family: "Kaushan Script", cursive;
  font-size: 2.3rem;
  flex-basis: 100%;
  text-align: center;
}
.menus-4 .titre-couleur-1 {
  color: #000000;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  /* largeur hauteur */
  transition: background-size 0.8s;
  padding-bottom: 0px;
}
.menus-4 .titre-couleur-2 {
  color: #000000;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  /* largeur hauteur */
  transition: background-size 0.8s;
  padding-bottom: 0px;
}
.menus-4 .titre-couleur-3 {
  color: #000000;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  /* largeur hauteur */
  transition: background-size 0.8s;
  padding-bottom: 0px;
}
.menus-4 a:hover {
  background-size: 100% 100%;
}
.menus-4 .titre-couleur-1:visited {
  color: #000000;
}
.menus-4 .titre-couleur-2:visited {
  color: #000000;
}
.menus-4 .titre-couleur-3:visited {
  color: #000000;
}
.menus-4 .produit-prix-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #000000;
}
.menus-4 .produit-prix-1 p:nth-child(1) {
  /* nom du produit */
  text-align: left;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-4 .produit-prix-1 p:nth-child(2) {
  /* prix du  produit */
  text-align: right;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-4 .produit-prix-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #000000;
}
.menus-4 .produit-prix-2 p:nth-child(1) {
  /* nom du produit */
  text-align: left;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-4 .produit-prix-2 p:nth-child(2) {
  /* prix du  produit */
  text-align: right;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-4 .produit-prix-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #000000;
}
.menus-4 .produit-prix-3 p:nth-child(1) {
  /* nom du produit */
  text-align: left;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menus-4 .produit-prix-3 p:nth-child(2) {
  /* prix du  produit */
  text-align: right;
  font-family: "Satisfy", cursive;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#titre-contenu-repas-debut {
  color: red;
}

.position-btn-retour {
  margin-bottom: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.retour a {
  color: orange;
}
.retour a:visited {
  color: orange;
}

.container-centrer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mentionLegales {
  width: 80%;
}
.mentionLegales h1 {
  text-align: center;
  margin-top: 2rem;
}
.mentionLegales p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #579C87;
  width: 100vw;
  height: 80px;
}
footer a:link {
  color: orange;
}
footer h3 {
  color: orange;
}
footer h3:hover {
  cursor: pointer;
  animation: headshake 80ms ease-in-out;
  animation-iteration-count: 20;
}
@keyframes headshake {
  0% {
    transform: translateX(5%);
    transform: rotate(3deg);
  }
  100% {
    transform: translateX(-5%);
    transform: rotate(-3deg);
  }
}

/*# sourceMappingURL=style.css.map */
