<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Formation développeur web - début cours et projet 3 OpenClassrooms vendredi 01 mai 2020 - fin projet le xx/xx/2020 -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../sass/css/style.css" />
    <title>Menu-La palette du goût</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="items">
        <h1><a href="./../index.html">ohmyfood</a></h1>
      </div>
    </header>

    <!-- container general -->
    <div class="flex-container-menu">
      <div class="menus-4">
        <div class="menus-marge">
          <h2>La palette du goût</h2>

          <!-- container - ESQUISSE -->
          <div class="trait-menu-miseenpage">
            <img
              src="./../images-menu/menu-4-barre-gauche-svg.svg"
              alt="trait menu gauche"
            />
            <h3><span class="titre-couleur-1">Esquisse</span></h3>
            <img
              src="./../images-menu/menu-4-barre-droite-svg.svg"
              alt="trait menu droit"
            />
          </div>

          <div class="produit-prix-1">
            <p>Fricassée d'escargot au piment d'espelette</p>
            <p>60€</p>
          </div>

          <div class="produit-prix-1">
            <p>Oeuf au plat assaisonné à la truffe sur lit de caviar</p>
            <p>55€</p>
          </div>

          <div class="produit-prix-1">
            <p>Foie gras de canard mi-cuit et ses copeaux de truffe noire</p>
            <p>65€</p>
          </div>

          <!-- Container Oeuvre de maître -->
          <div class="trait-menu-miseenpage">
            <img
              src="./../images-menu/menu-4-barre-gauche-svg.svg"
              alt="trait menu gauche"
            />
            <h3><span class="titre-couleur-2">Oeuvre de maître</span></h3>
            <img
              src="./../images-menu/menu-4-barre-droite-svg.svg"
              alt="trait menu droit"
            />
          </div>

          <div class="produit-prix-2">
            <p>
              Filet de boeuf aux herbes accompagnè de sa ribalbelle de légumes
            </p>
            <p>70€</p>
          </div>
          <div class="produit-prix-2">
            <p>
              Parmentier de queue de boeuf à la truffe noire sur sa purée de
              panais
            </p>
            <p>85€</p>
          </div>
          <div class="produit-prix-2">
            <p>Filet de Turbot aux agrumes</p>
            <p>125€</p>
          </div>

          <!-- Container Au sommet de l'art -->
          <div class="trait-menu-miseenpage">
            <img
              src="./../images-menu/menu-4-barre-gauche-svg.svg"
              alt="trait menu gauche"
            />
            <h3><span class="titre-couleur-3" >Au sommet de l'art</span></h3>
            <img
              src="./../images-menu/menu-4-barre-droite-svg.svg"
              alt="trait menu droit"
            />
          </div>
          <div class="produit-prix-3">
            <p>Paris-Brest revisité</p>
            <p>55€</p>
          </div>
          <div class="produit-prix-3">
            <p>
              Macaron au chocolat d'exception et glace à la vanille de
              Madagascar
            </p>
            <p>65€</p>
          </div>
          <div class="produit-prix-3">
            <p>Mousse au chocolat au piement d'espelette et à la truffe noire</p>
            <p>60€</p>
          </div>
        </div>
      </div>
      <!-- fin Container menu -->

      <!-- Bouton retour -->
      <a href="./../index.html">
        <div class="position-btn-retour">
          <article class="retour">
            <div class="btn-retour">
              Retour
            </div>
          </article>
        </div>
      </a>
    </div>
    

    <!-- footer -->
    <footer>
      <h3><a href="./mentions_legales.html"> Mentions légales</a></h3>
      <h3><a href="mailto:contact@ohmyfood.com"> Contactez-nous</a></h3>
    </footer>
  </body>
</html>
